<h1>Listing race_attributes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @race_attributes.each do |race_attribute| %>
      <tr>
        <td><%= link_to 'Show', race_attribute %></td>
        <td><%= link_to 'Edit', edit_race_attribute_path(race_attribute) %></td>
        <td><%= link_to 'Destroy', race_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Race attribute', new_race_attribute_path %>
